<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVUN5J4-7it1JVwawH9FJx8L67erJSGf0</string>
	<key>GCM_SENDER_ID</key>
	<string>914108737367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buzzmatchApp</string>
	<key>PROJECT_ID</key>
	<string>buzzmatch-v4</string>
	<key>STORAGE_BUCKET</key>
	<string>buzzmatch-v4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914108737367:ios:1f031d30cc8729f7bc0012</string>
</dict>
</plist>